
<div class='standings'>
  <h2>Current Standings</h2>
  <table id='rankings'>
    <tr>
      <th>Conference</th>
      <th>Division</th>
      <th>Team</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Percentage</th>
    </tr>
    <% @results.each do |result| %>
        <tr>
          <td><%= result[:Conference] %></td>
          <td><%= result[:Division] %></td>
          <td><%= result[:City]%> <%= result[:Name] %></td>
          <td><%= result[:Wins] %></td>
          <td><%= result[:Losses] %></td>
          <td><%= result[:Percentage] %></td>
        </tr>
    <% end %>
  </table>
</div>
