<h2>Current Standings</h2>

<div class='standings'>
  <h2>Current Standings</h2>
  <table id='rankings'>
    <tr>
      <th class='favorites-title'>Title</th>
      <th class='favorites-artist'>Artist</th>
      <th class='favorites-genre'>Genre</th>
      <th class='favorites-rating'>Rating</th>
      <th></th>
    </tr>
  </table>
</div>



<% @results.each do |result| %>
    <%= result[:City] %>
    <%= result[:Name] %>
    <%= result[:Wins] %>
    <%= result[:Losses] %>
    <%= result[:Percentage] %>
<% end %>
