<!DOCTYPE html>
<html>
  <head>
    <title>YouHockey</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <button><%= link_to "YouHockey?", root_path%></button>
      <nav>
        <ul>
          <li><%= link_to "Best _____", bests_path%></li>
          <li><%= link_to "Current Standings", standings_path%></li>
          <li><%= link_to "Today's Games", games_path%></li>

        </ul>
      </nav>
    </header>
    <div class="hero-image">


    <%= yield %>
  </div>
  </body>
</html>
